body{
    margin:0;
    background: linear-gradient(to left bottom,lightgreen, lightblue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
}
